@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
}

body {
    background-color: #ededed;
}

li a {
    text-decoration: none;
    color: #000000;
}

.Alitas,
.Papas,
.Entradas,
.Bebidas,
.Sizes,
.Telefonos,
.Redes {
    width: 100%;
    background: #ffffffbe;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.Aplicacion {
    width: 100%;
    background: #ffffff00;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.red {
    padding: 10px;
    background: #ff1b40;
    color: rgb(255, 255, 255);
    font-size: 25.5px;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer;
    display: block;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

span {
    padding: 15px;
    background: #ff1b40;
    color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
    font-size: 26px;
    cursor: pointer;
    display: block;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

span::after {
    float: right;
    right: 10%;
    content: "+";
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}

.slide1 li,
.slide2 li,
.slide3 li,
.slide6 li {
    padding: 20px;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.slide5 li {
    padding: 10px;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.slide4 li {
    padding: 20px;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.slide7 {
    padding: 0;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.slide8 li {
    padding: 13px;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

#touch1,
#touch2,
#touch3,
#touch4,
#touch5,
#touch6,
#touch7,
#touch8 {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch1:checked+.slide1,
#touch2:checked+.slide2,
#touch3:checked+.slide3 {
    height: 240px;
}

#touch5:checked+.slide5 {
    height: 161px;
}

#touch6:checked+.slide6 {
    height: 120px;
}

#touch4:checked+.slide4 {
    height: 280px;
}

#touch7:checked+.slide7 {
    height: 400px;
}

#touch8:checked+.slide8 {
    height: 164px;
}

.logo {
    background-image: url("../img/imgheader.jpg");
    background-position: center center;
    height: 152px;
    border: 1px solid black;
}

h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.445);
    font-family: 'Fjalla One', sans-serif;
    font-size: 75px;
    color: rgb(0, 0, 0);
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #16234D;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
}

body {
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ff1b40;
    height: 100%;
    /* background-color: #f1f1f1; */
    /* margin: auto; */
}

a {
    font-size: 20px;
}

ul,
li {
    padding: 0;
    margin: 0;
    text-align: center;
}

.left,
.right,
.rightb {
    text-align: center;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

.rightb {
    float: right;
    width: 50%;
}

.img {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 360px;
}